@media only screen and (min-width: 500px) {
    body {
        #cover {
            background-image: url(nature-forest-trees-fog.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }




}


