html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.nav {
  background-color: #555555;
  text-align: right;
  height: 5vh;
  min-height: auto;
  position: relative;
}

.menu {
  background-color: #555555;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: #f6f1eb;
  line-height: 5vh;
  text-align: center;
  background-color: #555555;
  height: auto;
  font-size: 1.4vw;
}

.menu a:hover {
  color: #ff8d23;
  transition: color 1s ease-in-out;
}

label {
  margin: 4px 25px 0 0;
  font-size: 26px;
  display: none;
  width: 26px;
  float: right;
  color: #ff8d23;
}

#toggle {
  display: none;
}

#cover {
  background-image: url(nature-forest-trees-fog.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 84vh;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

#headingcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#headingcontainer p {
  letter-spacing: 5px;
  color: #555555;
}
#headingcontainer #moreaboutme {
  color: #555555;
  border: 3px solid;
  padding: 0 28px;
}
#headingcontainer #moreaboutme:hover {
  border-color: #ff8d23;
  transition: border-color 2s ease;
}

#socialcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex: 1;
  width: 20%;
  margin: 0 40%;
  padding-bottom: 5vw;
}
#socialcontainer .social {
  background-size: contain;
  width: 40px;
  height: 40px;
}
#socialcontainer #linkedin {
  background-image: url(icons/linked.png);
}
#socialcontainer #linkedin:hover {
  background-image: url(icons/hovercolor/hoverlinked.png);
  transition: background-image 1.5s ease;
}
#socialcontainer #gmail {
  background-image: url(icons/gmail.png);
}
#socialcontainer #gmail:hover {
  background-image: url(icons/hovercolor/hovergmail.png);
  transition: background-image 1.5s ease;
}
#socialcontainer #github {
  background-image: url(icons/github.png);
}
#socialcontainer #github:hover {
  background-image: url(icons/hovercolor/hovergithub.png);
  transition: background-image 1.5s ease;
}
#socialcontainer #phone {
  background-image: url(icons/phone.png);
}
#socialcontainer #phone:hover {
  background-image: url(icons/hovercolor/hoverphone.png);
  transition: background-image 1s ease;
}

h2 {
  font-size: calc(12px + 1.5vw);
  margin: 0;
  color: #ff8d23;
}

h1 {
  font-size: 7vw;
  margin: 0;
  color: #555555;
}

#about {
  width: 100%;
  height: auto;
  background-color: #F6F1EB;
}
#about span {
  font-size: 16px;
  font-weight: bold;
}

h4 {
  padding: 75px 0 0 0;
  font-size: 130%;
  margin: 0;
  color: #ff8d23;
  text-align: center;
}

h3 {
  font-size: 100%;
  text-align: center;
  margin: 0;
  color: #555555;
}

#abouttopsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profilepictureandaboutintro {
  background-color: #F6F1EB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}
#profilepictureandaboutintro #profilepicture {
  width: 7vw;
  height: 7vw;
  margin: 30px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(icons/profilepicture/profilepicture.png);
}

.sectionintro {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 130%;
  line-height: 150%;
}
.sectionintro p {
  text-align: center;
}

.workexpandeducationheading {
  padding: 40px 0 0 0;
}

#twocolumns {
  width: 100%;
  background-color: #f6f1eb;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#introinfo {
  background-color: #F6F1EB;
  width: 30%;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 10px 0;
}

#skills {
  background-color: #F6F1EB;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.skillsimageandtext {
  word-wrap: break-word;
}
.skillsimageandtext p {
  text-align: center;
  font-size: 10px;
}

.skillsimageandtext:hover {
  color: #ff8d23;
  transition: color 1s ease-in-out;
}

#skillsiconsholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.skillsicons {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s ease;
}

#ruby {
  background-image: url(icons/skills_page/ruby.png);
  background-size: contain;
}

#ruby:hover {
  background-image: url(icons/skills_page/hover/rubyhover.png);
  transform: scale(1.15);
}

#python {
  background-image: url(icons/skills_page/python.png);
}

#python:hover {
  background-image: url(icons/skills_page/hover/pythonhover.png);
  transform: scale(1.15);
}

#html {
  background-image: url(icons/skills_page/html.png);
}

#html:hover {
  background-image: url(icons/skills_page/hover/htmlhover.png);
  transform: scale(1.15);
}

#rails {
  background-image: url(icons/skills_page/rails.png);
}

#rails:hover {
  background-image: url(icons/skills_page/hover/railshover.png);
  transform: scale(1.15);
}

#css {
  background-image: url(icons/skills_page/css.png);
}

#css:hover {
  background-image: url(icons/skills_page/hover/csshover.png);
  transform: scale(1.15);
}

#js {
  background-image: url(icons/skills_page/js.png);
}

#js:hover {
  background-image: url(icons/skills_page/hover/jshover.png);
  transform: scale(1.15);
}

#react {
  background-image: url(icons/skills_page/react.png);
}

#react:hover {
  background-image: url(icons/skills_page/hover/reacthover.png);
  transform: scale(1.15);
}

#node {
  background-image: url(icons/skills_page/node.png);
}

#node:hover {
  background-image: url(icons/skills_page/hover/nodehover.png);
  transform: scale(1.15);
}

#mongo {
  background-image: url(icons/skills_page/mongo.png);
}

#mongo:hover {
  background-image: url(icons/skills_page/hover/mongohover.png);
  transform: scale(1.15);
}

#aws {
  width: 60px;
  background-image: url(icons/skills_page/aws.png);
}

#aws:hover {
  background-image: url(icons/skills_page/hover/awshover.png);
  transform: scale(1.15);
}

#heroku {
  background-image: url(icons/skills_page/heroku.png);
}

#heroku:hover {
  background-image: url(icons/skills_page/hover/herokuhover.png);
  transform: scale(1.15);
}

#stripe {
  background-image: url(icons/skills_page/stripe.png);
}

#stripe:hover {
  background-image: url(icons/skills_page/hover/stripehover.png);
  transform: scale(1.15);
}

.paragraph {
  text-align: left;
  color: #555555;
  padding: 20px 0;
}

#buttonholder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0;
}
#buttonholder a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  height: 40%;
  border: 3px solid #555555;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

#buttonholder a:hover {
  border-color: #ff8d23;
  transition: border-color 1s ease-in-out;
}

#resume {
  background-color: #cac3ba;
}
#resume p {
  background-color: #cac3ba;
}
#resume .educationandworktimeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 15%;
}
#resume .educationandworktimeline .timelineblock {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}
#resume .educationandworktimeline .timelineblock p {
  font-size: 100%;
  color: #555555;
}
#resume .educationandworktimeline .timelineblock h5 {
  color: #363636;
  font-size: 125%;
  margin: 0;
}
#resume .educationandworktimeline .timelineblock .timeperiodandrole {
  width: 60%;
  padding: 0 7.5% 0 0;
  text-align: right;
}
#resume .educationandworktimeline .timelineblock .roleexplanation {
  border-left: 1.5px solid #ff8d23;
  padding: 0 7.5%;
}
#resume .educationandworktimeline .timelineblock .roleexplanation h5 {
  margin: 0;
}
#resume .educationandworktimeline .timelineblock .roleexplanation .roledetails {
  width: auto;
}
#resume .educationandworktimeline .timelineblock .roleexplanation .roledetailsparagraph {
  width: 505px;
}

#portfilio {
  background-color: #F6F1EB;
  height: auto;
  margin-bottom: 10%;
}

#portfoliopieceholder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 88%;
  margin: 0 6%;
}

.portfoliopiece {
  height: 200px;
  width: 28%;
  margin-bottom: 50px;
  transition: transform 1s;
  text-align: center;
}

.portfoliopiece:hover {
  transform: scale(1.05);
}

.portfolioimage {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#vin {
  background-image: url(./backgrounds/vin-count.png);
}

#fines {
  background-image: url(./backgrounds/fines.jpeg);
}

#port {
  background-image: url(./backgrounds/port.png);
}

#contact {
  background-color: #cac3ba;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
#contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact form #contactMessage,
#contact form input[type=text] {
  background: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid #555555;
}
#contact form button {
  width: 100%;
  background-color: yellow;
}

input[type=text]:focus {
  border-bottom: 2px solid #ff8d23;
  transition: border-bottom 1s ease-in-out;
}

@media only screen and (max-width: 750px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    height: 10vw;
  }

  .menu a {
    color: #ff8d23;
    display: block;
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    margin: 0;
    font-size: 13px;
  }

  #toggle:checked + .menu {
    display: block;
  }

  #socialcontainer {
    width: 50%;
    margin: 0 25%;
    padding-bottom: 15vw;
  }

  h3 {
    font-size: 250%;
  }

  h4 {
    font-size: 175%;
  }

  #profilepictureandaboutintro {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  #profilepictureandaboutintro .sectionintro {
    width: 80%;
  }
  #profilepictureandaboutintro #profilepicture {
    width: 30vw;
    height: 30vw;
  }

  .sectionintro {
    width: 80%;
  }

  #twocolumns {
    flex-direction: column;
    align-items: center;
  }

  #introinfo,
#skills {
    width: 80%;
  }
  #introinfo #buttonholder,
#skills #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #introinfo #buttonholder a,
#skills #buttonholder a {
    width: 65%;
  }

  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #buttonholder a {
    width: 65%;
  }

  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #buttonholder a {
    width: 65%;
  }

  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #buttonholder a {
    width: 65%;
  }

  #skillsiconsholder {
    width: 100%;
  }
  #skillsiconsholder #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #skillsiconsholder #buttonholder a {
    width: 65%;
  }
  #skillsiconsholder #buttonholder {
    display: flex;
    background-color: #F6F1EB;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #skillsiconsholder #buttonholder a {
    width: 65%;
  }

  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #buttonholder a {
    width: 65%;
  }

  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #buttonholder a {
    width: 65%;
  }

  #resume {
    padding-bottom: 10%;
  }
  #resume .educationandworktimeline ul {
    padding-left: 10%;
  }
  #resume .educationandworktimeline .timelineblock {
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
    padding-right: 15%;
  }
  #resume .educationandworktimeline .timelineblock .timeperiodandrole {
    text-align: center;
    width: 100%;
    padding: 0 0 0 5%;
  }
  #resume .educationandworktimeline .timelineblock .roleexplanation {
    border-bottom: 1.5px solid #ff8d23;
    width: 100%;
  }
  #resume .educationandworktimeline .timelineblock .roleexplanation h5 {
    text-align: center;
  }
  #resume .educationandworktimeline .timelineblock .roleexplanation .roledetailsparagraph {
    width: 100%;
  }

  #portfolio {
    margin-bottom: 10%;
  }
  #portfolio #portfoliopieceholder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portfolio #portfoliopieceholder .portfoliopiece {
    width: 75%;
  }
}
#dontDisplayOnMobile {
  display: none;
}

/*# sourceMappingURL=main.css.map */
