 @import 'variables';
 html {
    scroll-behavior: smooth;
 }
 
 body {
   width: 100vw;
   margin: 0;
   padding: 0;
   background: $Headingcolor;
   font-family: "Avenir Next", "Avenir", sans-serif;
 }

 .nav {
    background-color: $Headingcolor;
    //border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: $menuhight;
    min-height: auto;
    //line-height: auto;

    position: relative;
}
.menu {
    background-color: $Headingcolor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //margin: 0 30px 0 0;
    
}

.menu a {
    clear: right; 
    text-decoration: none;
    //color: #F6F1EB;
    color: #F6F1EB;
    line-height: $menuhight;
    //width: 10vw;
    text-align: center;
    padding-right: 5vw;
    background-color: $Headingcolor;
    height: auto;
    font-size: $menufontsize;

}

.menu a:hover{
    color: $helloWorld;
    transition:  color 1s ease-in-out;
}

label {
    margin: 4px 25px 0 0;
    font-size: 26px;
    display: none;
    width: 26px;
    float: right;
    color: $helloWorld;
}

#toggle {
    display: none;
}

 #cover {
    background-image: url(nature-forest-trees-fog.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 82vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}








//  header.header {
//     position: fixed;
//     top: 0; 
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     height: 40px;
//     background-color: $Headingcolor;

//     a {
//         height: auto;
//     }
//  }

#headingcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding-top: 9vw;

    p {
        letter-spacing: 5px;
        color: $Headingcolor;
    }

    #moreaboutme {
        color: $Headingcolor;
        border: 3px solid;
        padding: 0 28px;
    }

    #moreaboutme:hover{
        //border-width: 2px;
        //border-style: solid; 
        border-color: $helloWorld;
        transition: border-color 2s ease;  
    }
}

#socialcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    //justify-content: center;
    align-items: flex-end;
    flex: 1;
    width: 20%;
    margin: 0 40%;
    padding-bottom: 5vw;


    .social {
        background-size: contain;
        width: 40px;
        height: 40px;
    }

    #linkedin {
        background-image: url(icons/linked.png);
    }
    #linkedin:hover {
        background-image: url(icons/hovercolor/hoverlinked.png);
        transition: background-image 1s ease; 
    }
    
    #gmail {
        background-image: url(icons/gmail.png);
        
    }
    #gmail:hover {
        background-image: url(icons/hovercolor/hovergmail.png);
        transition: background-image 1s ease;  
    }
    #github{
        background-image: url(icons/github.png);
    }
    #github:hover{
        background-image: url(icons/hovercolor/hovergithub.png);
        transition: background-image 1s ease; 
    }
    #phone {
        background-image: url(icons/phone.png);
    }
    #phone:hover {
        background-image: url(icons/hovercolor/hoverphone.png);
        transition: background-image 1s ease; 
    }
}

 h2 {
    font-size:calc(12px + 1.5vw);
    
    margin: 0;
    color: $helloWorld;
}
h1 {
    font-size: 7vw;
    margin: 0;
    color: $Headingcolor;
}

// End of landing page 

#about {
    width: 100vw;
    height: 100vw;
    background-color: #F6F1EB;

}

h3 {
    margin: 0;
    padding: 10px;
}

.skillsiconsholder {
    display: flex;
    flex-direction: row;
}
.skillsicons {
    height: 48px;
    width: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#ruby {
    background-image: url(icons/skills_page/ruby.png);
    background-size: contain;
}
#ruby:hover {
    background-image: url(icons/skills_page/hover/rubyhover.png);
    transition: background-image 1s ease; 
}
#python {
    background-image: url(icons/skills_page/python.png);
}
#python:hover {
    background-image: url(icons/skills_page/hover/pythonhover.png);
    transition: background-image 1s ease;
}
#html {
    background-image: url(icons/skills_page/html.png);
}
#html:hover {
    background-image: url(icons/skills_page/hover/htmlhover.png);
    transition: background-image 1s ease; }


#rails {
    background-image: url(icons/skills_page/rails.png);
}
#rails:hover {
    background-image: url(icons/skills_page/hover/railshover.png);
    transition: background-image 1s ease; }





#css {
    background-image: url(icons/skills_page/css.png);
}
#css:hover {
    background-image: url(icons/skills_page/hover/csshover.png);
    transition: background-image 1s ease; }
#js {
    background-image: url(icons/skills_page/js.png);
}
#js:hover {
    background-image: url(icons/skills_page/hover/jshover.png);
    transition: background-image 1s ease; 
}
#react {
    background-image: url(icons/skills_page/react.png);
}
#react:hover {
    background-image: url(icons/skills_page/hover/reacthover.png);
    transition: background-image 1s ease; 
}    
#node {
    background-image: url(icons/skills_page/node.png);
}
#node:hover {
    background-image: url(icons/skills_page/hover/nodehover.png);
    transition: background-image 1s ease;}
#mongo {
    background-image: url(icons/skills_page/mongo.png);
}
#mongo:hover {
    background-image: url(icons/skills_page/hover/mongohover.png);
    transition: background-image 1s ease; 
}
#aws {
    background-image: url(icons/skills_page/aws.png);
}
#aws:hover {
    background-image: url(icons/skills_page/hover/awshover.png);
    transition: background-image 1s ease; 
}
#heroku {
    background-image: url(icons/skills_page/heroku.png);
}
#heroku:hover {
    background-image: url(icons/skills_page/hover/herokuhover.png);
    transition: background-image 1s ease; 
}
#stripe {
    background-image: url(icons/skills_page/stripe.png);
}
#stripe:hover {
    background-image: url(icons/skills_page/hover/stripehover.png);
    transition: background-image 1s ease; 
}







@media only screen and (max-width: 750px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
        height: 10vw;
    }
    .menu a {
        color: $helloWorld;
        display: block;
        border-bottom: 1px solid $Headingcolor;
        margin: 0;
        font-size: 13px;
    }
    #toggle:checked + .menu {
        display: block;
    }
    #socialcontainer {
        width: 70%;
        margin: 0 15%;
        padding-bottom: 15vw;

    }
}