@import "variables";
html {
  scroll-behavior: smooth;
}

body {
  //width: 100vw;
  margin: 0;
  padding: 0;
  //background: $Headingcolor;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.nav {
  background-color: $Headingcolor;
  //border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: $menuhight;
  min-height: auto;
  //line-height: auto;

  position: relative;
}
.menu {
  background-color: $Headingcolor;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  //margin: 0 30px 0 0;
}

.menu a {
  clear: right;
  text-decoration: none;
  //color: #F6F1EB;
  color: #f6f1eb;
  line-height: $menuhight;
  //width: 10vw;
  text-align: center;
  //padding-right: 5vw;
  background-color: $Headingcolor;
  height: auto;
  font-size: $menufontsize;
}

.menu a:hover {
  color: $helloWorld;
  transition: color 1s ease-in-out;
}

#labelbox {
  padding: 2px 5px;
}

label {
  font-size: 26px;
  display: none;
  width: 26px;
  float: right;
  color: $helloWorld;
}

#toggle {
  display: none;
}

#cover {
  background-image: url(nature-forest-trees-fog.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  //width: 100vw;
  height: 84vh;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

#headingcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-top: 9vw;

  p {
    letter-spacing: 5px;
    color: $Headingcolor;
  }

  #moreaboutme {
    color: $Headingcolor;
    border: 3px solid;
    padding: 0 28px;
    a:link {
      background-color: red;
      text-decoration: none;
    }
  }

  #moreaboutme:hover {
    //border-width: 2px;
    //border-style: solid;
    border-color: $helloWorld;
    transition: border-color 2s ease;
  }
}

#socialcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex: 1;
  width: 20%;
  margin: 0 40%;
  padding: 5vw 0;

  .social {
    background-size: contain;
    width: 40px;
    height: 40px;
  }

  #linkedin {
    background-image: url(icons/linked.png);
  }
  #linkedin:hover {
    background-image: url(icons/hovercolor/hoverlinked.png);
    transition: background-image 1.5s ease;
  }

  #gmail {
    background-image: url(icons/gmail.png);
  }
  #gmail:hover {
    background-image: url(icons/hovercolor/hovergmail.png);
    transition: background-image 1.5s ease;
  }
  #github {
    background-image: url(icons/github.png);
  }
  #github:hover {
    background-image: url(icons/hovercolor/hovergithub.png);
    transition: background-image 1.5s ease;
  }
  #phone {
    background-image: url(icons/phone.png);
  }
  #phone:hover {
    background-image: url(icons/hovercolor/hoverphone.png);
    transition: background-image 1s ease;
  }
}

h2 {
  font-size: calc(12px + 1.5vw);

  margin: 0;
  color: $helloWorld;
}
h1 {
  font-size: 7vw;
  margin: 0;
  color: $Headingcolor;
}

//********************************************************* End of landing page

#about {
  width: 100%;
  height: auto;
  background-color: $lightbackground;

  span {
    font-size: 16px;
    font-weight: bold;
  }
}

h4 {
  padding: 75px 0 0 0;
  font-size: 130%;
  margin: 0;
  color: $helloWorld;
  text-align: center;
}

h3 {
  font-size: 230%;
  text-align: center;
  margin: 0;
  color: $Headingcolor;
}

#abouttopsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profilepictureandaboutintro {
  background-color: $lightbackground;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  //margin: 0 15%;

  #profilepicture {
    width: 7vw;
    height: 7vw;
    margin: 30px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(icons/profilepicture/profilepicture.png);
  }
}

.sectionintro {
  width: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 130%;
  line-height: 150%;
  p {
    text-align: center;
  }
}

.workexpandeducationheading {
  padding: 40px 0 0 0;
}

#twocolumns {
  width: 100%;
  background-color: #f6f1eb;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#introinfo {
  background-color: $lightbackground;
  width: 30%;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 10px 0;
}

#skills {
  background-color: $lightbackground;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.skillsimageandtext {
  word-wrap: break-word;

  p {
    text-align: center;
    font-size: 10px;
  }
}
.skillsimageandtext:hover {
  color: $helloWorld;
  transition: color 1s ease-in-out;
}

#skillsiconsholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}
.skillsicons {
  height: 48px;
  width: 48px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s ease;
}

#ruby {
  background-image: url(icons/skills_page/ruby.png);
  background-size: contain;
}
#ruby:hover {
  background-image: url(icons/skills_page/hover/rubyhover.png);
  transform: scale(1.15);
}
#python {
  background-image: url(icons/skills_page/python.png);
}
#python:hover {
  background-image: url(icons/skills_page/hover/pythonhover.png);
  transform: scale(1.15);
}
#html {
  background-image: url(icons/skills_page/html.png);
}
#html:hover {
  background-image: url(icons/skills_page/hover/htmlhover.png);
  transform: scale(1.15);
}
#rails {
  background-image: url(icons/skills_page/rails.png);
}
#rails:hover {
  background-image: url(icons/skills_page/hover/railshover.png);
  transform: scale(1.15);
}

#css {
  background-image: url(icons/skills_page/css.png);
}
#css:hover {
  background-image: url(icons/skills_page/hover/csshover.png);
  transform: scale(1.15);
}
#js {
  background-image: url(icons/skills_page/js.png);
}
#js:hover {
  background-image: url(icons/skills_page/hover/jshover.png);
  transform: scale(1.15);
}
#react {
  background-image: url(icons/skills_page/react.png);
}
#react:hover {
  background-image: url(icons/skills_page/hover/reacthover.png);
  transform: scale(1.15);
}
#node {
  background-image: url(icons/skills_page/node.png);
}
#node:hover {
  background-image: url(icons/skills_page/hover/nodehover.png);
  transform: scale(1.15);
}
#mongo {
  background-image: url(icons/skills_page/mongo.png);
}
#mongo:hover {
  background-image: url(icons/skills_page/hover/mongohover.png);
  transform: scale(1.15);
}
#aws {
  width: 60px;
  background-image: url(icons/skills_page/aws.png);
}
#aws:hover {
  background-image: url(icons/skills_page/hover/awshover.png);
  transform: scale(1.15);
}
#heroku {
  //width: 40px;
  background-image: url(icons/skills_page/heroku.png);
}
#heroku:hover {
  background-image: url(icons/skills_page/hover/herokuhover.png);
  transform: scale(1.15);
}
#stripe {
  //width: 40px;
  background-image: url(icons/skills_page/stripe.png);
}
#stripe:hover {
  background-image: url(icons/skills_page/hover/stripehover.png);
  transform: scale(1.15);
}

.paragraph {
  text-align: left;
  color: $paraghraphcolor;
  padding: 20px 0;
}

#buttonholder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    height: 40%;
    border: 3px solid $Headingcolor;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
  }
}

#buttonholder a:hover {
  border-color: $helloWorld;
  transition: border-color 1s ease-in-out;
}

// **************************************************End of about Section **********************************************

#resume {
  background-color: $darkbackground;
  p {
    background-color: $darkbackground;
  }

  .educationandworktimeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 15% 0% 15%;

    .timelineblock {
      display: flex;
      flex-direction: row;
      margin-bottom: 5%;

      p {
        font-size: 100%;
        color: $Headingcolor;
      }

      h5 {
        color: $DarkerHeadingcolor;
        font-size: 125%;
        margin: 0;
      }

      .timeperiodandrole {
        width: 60%;
        padding: 0 7.5% 0 0;
        text-align: right;
      }

      .roleexplanation {
        border-left: 1.5px solid $helloWorld;
        //border-bottom: 1.5px solid $helloWorld;
        padding: 0 7.5%;
        h5 {
          margin: 0;
        }
        .roledetails {
          width: auto;
        }
        .roledetailsparagraph {
          //background-color: yellow;
          width: 505px;
          //width: 100%;
        }
      }
    }
  }

  // .inbetweentimelineblockicon {
  //     width: 70px;
  //     height: 70px;
  //     border-radius: 50%;
  //     border-color: $helloWorld;
  //     background-color: aqua;
  //     margin-left: 27.4%;
  //     margin-right: 72.6%;
  // }
}

// ************************************************ End of Resume ********************************************************

#portfolio {
  background-color: $lightbackground;
  height: auto;
  padding-bottom: 7%;
}

#portfoliopieceholder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 88%;
  margin: 0 6%;
}

.portfoliopiece {
  height: 200px;
  width: 28%;
  margin-bottom: 50px;
  transition: transform 1s;
  text-align: center;
}

.portfoliopiece:hover {
  transform: scale(1.05);
}

.portfolioimage {
  width: 100%;
  height: 70%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#vin {
  background-image: url(./backgrounds/vin-count.png);
}
#fines {
  background-image: url(./backgrounds/fines.jpeg);
}
#port {
  background-image: url(./backgrounds/port.png);
}

// border-color: $helloWorld;
// transition:  border-color 1s ease-in-out;

//-----------------------------------------------------End of Portfolio---------------------------------------------------//

#contact {
  background-color: $darkbackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;

  p {
    padding: 0;
    //margin: 0;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #contactMessage,
    input[type="text"] {
      background: none;
      width: 100%;
      border: none;
      border-bottom: 2px solid $Headingcolor;
    }
    button {
      width: 100%;
      background-color: yellow;
    }
  }
}

input[type="text"]:focus {
  border-bottom: 2px solid $helloWorld;
  transition: border-bottom 1s ease-in-out;
}

@media only screen and (max-width: 750px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
    height: 10vw;
  }
  .menu a {
    color: $helloWorld;
    display: block;
    border-bottom: 1px solid $Headingcolor;
    border-top: 1px solid $Headingcolor;
    margin: 0;
    font-size: 13px;
  }
  #toggle:checked + .menu {
    display: block;
  }
  #socialcontainer {
    width: 50%;
    margin: 0 25%;
    padding-bottom: 15vw;
  }

  h3 {
    font-size: 230%;
  }
  h4 {
    font-size: 175%;
  }

  #profilepictureandaboutintro {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;

    .sectionintro {
      width: 80%;
    }

    #profilepicture {
      width: 30vw;
      height: 30vw;
    }
  }

  .sectionintro {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  #twocolumns {
    flex-direction: column;
    align-items: center;
  }

  #introinfo,
  #skills {
    width: 80%;
    #buttonholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      a {
        width: 65%;
      }
    }
  }
  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    a {
      width: 65%;
    }
  }
  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    a {
      width: 65%;
    }
  }
  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    a {
      width: 65%;
    }
  }
  #skills #skillsiconsholder {
    .skillsicons {
      height: 46px;
      width: 46px;
    }
    #buttonholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      a {
        width: 65%;
      }
    }
    width: 70%;
    #buttonholder {
      display: flex;
      background-color: $lightbackground;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      a {
        width: 65%;
      }
    }
  }

  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    a {
      width: 65%;
    }
  }
  #buttonholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    a {
      width: 65%;
    }
  }
  //  ******************************************** End of about section ***************************************************
  #resume {
    .educationandworktimeline {
      ul {
        padding-left: 10%;
      }
      .timelineblock {
        display: flex;
        flex-direction: column;
        margin-bottom: 30%;
        padding-right: 15%;

        .timeperiodandrole {
          text-align: center;
          width: 100%;
          padding: 0 0 0 5%;
          // display: flex;
          // flex-direction: row;
        }

        .roleexplanation {
          border-bottom: 1.5px solid $helloWorld;
          width: 100%;

          h5 {
            text-align: center;
          }
          .roledetailsparagraph {
            //This is breaking the width
            width: 100%;
            //width: 20px;
          }
        }
      }
    }
    padding-bottom: 10%;
  }

  #portfolio {
    padding-bottom: 14%;
    #portfoliopieceholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      .portfoliopiece {
        width: 75%;
      }
    }
  }
  #contact {
    padding-bottom: 75px;
    .sectionintro {
      #socialcontainer {
        padding-bottom: 5vw;
      }
    }
  }
}

#dontDisplayOnMobile {
  display: none;
}
